<div class="container card p-3 mx-auto" style="width: 532px;">
    <form>
        <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Username</label>
        <input type="Username" class="form-control" id="loginusername">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginpassword">
        </div>

        <button type="submit" id="loginbtn" class="btn btn-primary">Login</button>
        </form>
</div>

<script src="/js/main.js"></script>